body {
    margin: 0%;
}

#container {
    width: 100vw;
    text-align: center;
    display: flex;
    flex-direction: column;
}

#inner-container {
    display: flex;
    flex-direction: row;
}

header {
    background-color: red;
}

h1 {
    color: white;
}

form {
    flex: 1;
    background-color: black;
    color: white;
}
#map-container {
    flex: 2;
    
}

#mapid {
    height: 100vh;
}
